
@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Fix me Abac</title>
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="~/css/mainStylesheet.css" rel="stylesheet">
	<link href="~/vendor/bootstrap/css/landing-page.css" rel="stylesheet">
	<link href="~/vendor/bootstrap/css/bootstrap.grid.css" rel="stylesheet">
	<link href="~/vendor/bootstrap/css/bootstrap.grid.min.css" rel="stylesheet">
	<link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="~/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet">
	<link href="~/vendor/bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet">
</head>

<body>
	<!-- Header -->
	<header class="intro-header">
		<div class="container">
			
			<div class="intro-message">
				<h1>Report Topics</h1>
				<h3>Welcome, Nattalie</h3>
				<hr class="intro-divider">
			</div>
		</div>
	</header>

	<!-- Page Content -->
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#" style="font-size:20px">FixMeAbac</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#" style="font-size:12px">My Profile</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 ml-auto">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">Example Topic 1</h2>
					<p class="lead">
						This is a preview from the specific topic detail ...
						<a target="_blank" href="#">See detail</a>
					</p>
				</div>
				<div class="col-lg-5 mr-auto">
					<img class="img-fluid" src="img/ipad.png" alt="">
				</div>
			</div>
		</div>
		<!-- /.container -->
	</section>
	<section class="content-section-b">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 mr-auto order-lg-2">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">Example Topic 2</h2>
					<p class="lead">
						This is a preview from the specific topic detail ...
						
						<a target="_blank" href="#">See detail</a>
					</p>
				</div>
				<div class="col-lg-5 ml-auto order-lg-1">
					<img class="img-fluid" src="img/dog.png" alt="">
				</div>
			</div>
		</div>
		<!-- /.container -->
	</section>
	<!-- /.content-section-b -->
	<section class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 ml-auto">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">
						Example Topic 3
					</h2>
					<p class="lead">
						This is a preview from the specific topic detail ...
						<t>
						<a target="_blank" href="#">See detail</a>
					</p>
</div>
				<div class="col-lg-5 mr-auto ">
					<img class="img-fluid" src="img/phones.png" alt="">
				</div>
			</div>
		</div>
		<!-- /.container -->
	</section>
	<section class="content-section-b">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 mr-auto order-lg-2">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">
						Example Topic 4
					</h2>
						<p class="lead">
							This is a preview from the specific topic detail ...

							<a target="_blank" href="#">See detail</a>
						</p>
				</div>
				<div class="col-lg-5 ml-auto order-lg-1">
					<img class="img-fluid" src="img/dog.png" alt="">
				</div>
			</div>
		</div>
		<!-- /.container -->
	</section>

	<section class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 ml-auto">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">
						Example Topic 5
					</h2>
						<p class="lead">
							This is a preview from the specific topic detail ...
							<t>
								<a target="_blank" href="#">See detail</a>
						</p>
				</div>
				<div class="col-lg-5 mr-auto ">
					<img class="img-fluid" src="img/phones.png" alt="">
				</div>
			</div>
		</div>
		<!-- /.container -->
	</section>
	
	<!-- Bootstrap core JavaScript -->
	<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyD9wBjZlpm2qOyUlnzh4Ax_8a22p2kTayo",
			authDomain: "fixmeabac.firebaseapp.com",
			databaseURL: "https://fixmeabac.firebaseio.com",
			projectId: "fixmeabac",
			storageBucket: "fixmeabac.appspot.com",
			messagingSenderId: "483379790841"
		};
		firebase.initializeApp(config);
	</script>

	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type='text/javascript' href="Scripts/homeJS.js"></script>
</body>
</html>
