
@{
    ViewBag.Title = "Home";
}

<head>
	<link rel="stylesheet" type="text/css" href="css/mainStylesheet">
</head>
<script type='text/javascript' href="Scripts/homeJS.js"></script>

<div class="container">
	<div class="headTopic">
		<div class="topic">

		</div>
	</div>

</div>