
@{
    ViewBag.Title = "Login";
}

<head>
	<link rel="stylesheet" type="text/css" href="css/login">
</head>
<script type='text/javascript' href="Scripts/login.js"></script>

	<script type='text/javascript' href="Scripts/login.js"></script>
	<div class="container"> 
		<div class="login-container">
			<div id="output"></div>
			<div class="avatar"></div>
			<div class="form-box">
				<form action="" method="">
					<input name="user" type="text" placeholder="username">
					<input type="password" placeholder="password">
					<button class="btn btn-info btn-block login" type="submit">Login</button>
				</form>
			</div>
		</div>

	</div>

